<div id="title">
<h1>{{title}}</h1>
<h2>{{subtitle}}</h2>
<p>{{web}}</p>
</div>

<article class="about">
	<h2>Sobre mi</h2>
	
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum laoreet nulla quis suscipit. Aliquam viverra lobortis tincidunt. Aenean leo enim, volutpat eu faucibus sed, luctus eu libero. Cras dapibus vulputate condimentum. Nulla convallis consequat metus sed tempus. Praesent et quam sagittis, aliquet mi nec, tempor enim. In varius ipsum quis augue volutpat, et convallis ex commodo. Praesent euismod, mi at laoreet dignissim, dui ligula vehicula sapien, id scelerisque erat erat ac sem. Sed nec est nec ipsum ultrices finibus.
	</p>



</article>