
<header>

<ul>
  <li><a [routerLink]="['/sobre-mi']" [routerLinkActive]="[actived]">Sobre mi</a></li> 
  <li><a [routerLink]="['/Proyectos']" [routerLinkActive]="[actived]">
  Proyectos</a></li> 
  <li id="logo"><a href="#">VR</a></li>

  <li><a [routerLink]="['/crear-proyecto']" [routerLinkActive]="[actived]">Crear Proyecto</a></li> 
  <li><a [routerLink]="['/contacto']" [routerLinkActive]="[actived]"> Contacto</a></li> 

</ul>
</header>

<section id= "content">

<router-outlet></router-outlet>
</section>

<footer>
  
  Master en Javascript de CamilaJaraweb.es &copy;
</footer>